[submodule "catkin_ws/src/wifi_observation"]
	path = catkin_ws/src/wifi_observation
	url = https://github.com/eroniki/wifi_observation
[submodule "wifi_regression"]
	path = wifi_regression
	url = https://github.com/eroniki/wifi_regression
[submodule "catkin_ws/src/xbee_observation"]
	path = catkin_ws/src/xbee_observation
	url = https://github.com/eroniki/xbee_observation.git
[submodule "esp32-thing-wifi-ble"]
	path = esp32-thing-wifi-ble
	url = https://github.com/eroniki/esp32-thing-wifi-ble
[submodule "catkin_ws/src/ble_observation"]
	path = catkin_ws/src/ble_observation
	url = https://github.com/eroniki/ble_observation.git
