[submodule "catkin_ws/src/wifi_observation"]
	path = catkin_ws/src/wifi_observation
	url = https://github.com/eroniki/wifi_observation
[submodule "wifi_regression"]
	path = wifi_regression
	url = https://github.com/eroniki/wifi_regression
[submodule "catkin_ws/src/xbee_observation"]
	path = catkin_ws/src/xbee_observation
	url = https://github.com/eroniki/xbee_observation.git
[submodule "esp32-thing-wifi-ble"]
	path = esp32-thing-wifi-ble
	url = https://github.com/eroniki/esp32-thing-wifi-ble
[submodule "catkin_ws/src/ble_observation"]
	path = catkin_ws/src/ble_observation
	url = https://github.com/eroniki/ble_observation.git
[submodule "deep-rf-regression"]
	path = deep-rf-regression
	url = https://github.com/eroniki/deep-rf-regression.git
[submodule "catkin_ws/src/rf_data_acquisition"]
	path = catkin_ws/src/rf_data_acquisition
	url = https://github.com/eroniki/rf_data_acquisition.git
[submodule "rf-propagation-notes"]
	path = rf-propagation-notes
	url = https://github.com/eroniki/rf-propagation-notes.git
